@font-face {
    font-family: 'open_regular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;


}


@font-face {
    font-family: 'open_bold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_semibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'satellite';
    src: url('../fonts/satellite.eot');
    src: url('../fonts/satellite.eot?#iefix') format('embedded-opentype'),
         url('../fonts/satellite.woff') format('woff'),
         url('../fonts/satellite.ttf') format('truetype'),
         url('../fonts/satellite.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




.wrapper{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.wrapper_billboard{
    width: 1400px;
    height: auto;
    margin: 0 auto;
}


header.trasparent_nav{
    width: 100%;
    height: 100px;
    background-color: #005d1f;
    border-bottom: 2px black solid;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999;
}


header.trasparent_nav .logo{
    float: left;
    margin-top: 10px;
}

header.trasparent_nav nav{
    float: right;
    margin: 40px;
}


header.trasparent_nav nav ul li{
    float: left;
    margin-left: 50px;
}

header.trasparent_nav nav ul li a{
    text-decoration: none;
    color: #454545;
    font-family: 'open_regular', arial;
    font-size: 24px;
    color: red;
    font-weight: bold;
}

header.trasparent_nav nav ul li a:hover{
    color: white;
}




.billboard{
    height: 600px;
    overflow: hidden;
    position: relative;
}




.cta{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}

.cta p{
    display: inline-block;
    font-family: 'open_regular', arial;
    font-size: 20px;
    margin: 35px 0 0 40px;
    letter-spacing: 1px;
}

.cta a{
    float: right;
    padding: 17px 60px;
    text-decoration: none;
    font-family: 'open_regular', arial;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 40px 0 0;
}

.cta_top{
    background-color: #005d1f;
    margin-top: -90px;
}

.cta_top p{
    color: white;
    font-weight: bold;
}

.cta_top a{
    background: red;
    color: black;
    border: 2px black solid;
    font-weight: bold;
}

.cta_top a:hover{
    opacity: 0.7;
    color: white;
}



.picture{
    display: grid;
    text-align: center;
    width: 100%;
    height: auto;
    background: #efeded;
    overflow: hidden;
    grid-template-columns: none 1fr 1fr;
    grid-template-rows: none 1fr 1fr 1fr;
}


.chart{
    height: auto;
    padding-bottom: 100px;
    padding: 100px 0;
    background: #fbfbfb;
}

.chart h6{
    color: #616161;
    font-family: 'open_bold', arial;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.chart hr{
    margin: 50px 0;
}

.chart canvas{
    max-height: 500px;
}



.blank{
    width: 100%;
    height: 120px;
    background: #f2f1f1;
}

footer{
    width: 100%;
    height: 500px;
    background: #005d1f;
    overflow: hidden;
    padding-bottom: 20px;
}

footer .footer_widget{
    overflow: hidden;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px #434343 solid;
}

footer .f_cols{
    display: block;
    width: 270px;
    height: auto;
    float: left;
    margin:100px 40px 0 0;
}

footer .f_cols:last-child{
    margin-right: 0;
}

footer .f_cols h3{
    color: #fff;
    font-family: 'open_regular', arial;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 40px;
    letter-spacing: 1px;

}

footer .f_cols p{
    font-family: 'open_regular', arial;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 20px;
}

footer .f_cols span.phone{
    display: block;
    font-family: 'open_bold', arial;
    font-weight: bold;
    color: #ffffff;
}

footer .f_cols ul.sm{
    list-style: none;
    overflow: hidden;
}

footer .f_cols ul.sm li{
    float: left;
    margin-left: 10px;
}

footer .f_cols ul.sm li:first-child{
    margin-left: 0;
}

footer .f_cols ul.sm li a{
    display: block;
    width: 25px;
    height: 25px;
}

footer .f_cols a{
    display: inline-block;
    font-family: 'open_regular', arial;
    color: #ffffff;
}

footer .f_cols ul li{
    list-style: none;
    margin-bottom: 15px;
}

footer .f_cols ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'open_regular', arial;
    font-size: 14px;
}

footer .f_cols ul li a:hover{
    color: red;
}


p.rights{
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'open_regular', arial;
    font-size: 13px;
    letter-spacing: 1px;
}

p.rights a{
    font-family: 'open_bold', arial;
    font-weight: bold;
}
